# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Odoo
*.pyc
filestore/

# Archivos de análisis / temporales
*.xlsx
*.docx
*.zip
*.png
*.pdf
*.csv
!**/security/*.csv
.~lock.*
